.teamMember {
    border: #ffffff solid 2px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.75rem;
}

.teamMemberInitials {
    font-size: 2rem;
    font-weight: bold;
}

.teamMemberName {
    font-size: 1.5rem;
}

.teamMemberRole {
    font-size: 1rem;
    color: #9a9a9a;
}

h1 {
    margin-top: auto;
    margin-bottom: 1rem;
}

#teamGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

#footer {
    margin-top: auto;
}